{% extends 'base.html' %}
{% load static %}

{% block title %}
Games
{% endblock %}


{% block content %}
<script type="text/javascript">
$(document).ready(function () {

    if (localStorage.getItem("remember_scroll") != null) {
        $(window).scrollTop(localStorage.getItem("remember_scroll"));
    }

    $(window).on("scroll", function() {
        localStorage.setItem("remember_scroll", $(window).scrollTop());
    });

  });
</script>
<div>
    <div>
        <h1>
            {{ game_name }}
        </h1>
    </div>
    <div>
        <a class="btn btn-primary" href="{% url 'get_achievements' name=game_name %}">Upload achievements from
            Steam</a>
    </div>
</div>
<hr>
<h2>Unfinished Achievements:</h2>
<br>

<table class="table">
    <thead>
    <tr>
        <th scope="col" style="text-align: center; vertical-align: middle;">#</th>
        <th scope="col" style="text-align: center; vertical-align: middle;">Image</th>
        <th scope="col" style="text-align: center; vertical-align: middle;">Achievement name</th>
        <th scope="col" style="text-align: center; vertical-align: middle;">Is completed</th>
        <th scope="col" style="text-align: center; vertical-align: middle;">Description</th>
    </tr>
    </thead>
    <tbody>
    {% for achievement in filtered %}
    <tr>
        <th style="text-align: center; vertical-align: middle;">{{ forloop.counter }}</th>
        <td style="text-align: center; vertical-align: middle;">
            {% if achievement.image %}
            <img src="{{ achievement.image.url }}" width="64" height="64">
            {% else %}
            {% if achievement.link %}
            <img src="{{ achievement.link }}">
            {% else %}
            <img src="#">
            {% endif %}
            {% endif %}
        </td>
        <td style="text-align: center; vertical-align: middle;">
            <a href="{% url 'achiev-detail' achievement.id  %}">{{ achievement.name }}
            </a>
        </td>
        <td style="text-align: center; vertical-align: middle;">
            {% if achievement.completed %}
            <a class="btn btn-success" href="{% url 'change-status' achievement.pk %}">Finished</a>
            {% else %}
            <a class="btn btn-danger" href="{% url 'change-status' achievement.pk  %}">Unfinished</a>
            {% endif %}
        </td>
        <td style="text-align: center; vertical-align: middle;">
            {{ achievement.description }}
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>

{% endblock %}