{% extends 'base.html' %}

{% block title %}
Home
{% endblock %}


{% block content %}
<h1>Get all achievements from steam</h1>
<form action="{% url 'upload-achievements' name=name %}">
    {% csrf_token %}
    <div>
        <label for="game_id">Game id:
            <input type="text" id="game_id" name="game_id" placeholder="Game id required" required/>
        </label>
        <h6>To get id for specified game go
            <a target="_blank" rel="noopener noreferrer" href="https://steamdb.info/">here</a>
        </h6>
    </div>
    <br>
    <div>
        <label for="steam_key">Steam key:
            <input type="text" id="steam_key" name="steam_key" placeholder="Steam key required" required/>
        </label>
        <h6>To get steam key go
            <a target="_blank" rel="noopener noreferrer" href="https://steamcommunity.com/dev/apikey">here</a>
        </h6>
    </div>
    <input type="submit" value="Submit" class="btn btn-primary">
</form>
{% endblock %}
